<div id="login" class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-5 login-top">
      <mat-card>
        <img class="rounded center" src='./../../assets/img/wms-logo.jpg' />
        <h4 class="logo-title">SIGNUP TO WMS</h4>
        <form class="login-form-container">
          <mat-form-field>
            <input matInput type="text" placeholder="Enter Name">
            <span class="material-icons" matPrefix>person_outline &nbsp;</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="email" placeholder="Enter Email">
            <span class="material-icons" matPrefix>mail_outline &nbsp;</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Enter Mobile Number">
            <span class="material-icons" matPrefix>phone &nbsp;</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Enter Password">
            <span class="material-icons" matPrefix>lock_open &nbsp;</span>
          </mat-form-field>
          <button class="login-mt-10" mat-flat-button color="primary" routerLink='/login'>SIGN UP</button>
          <button mat-button class="text-center login-mt-10" routerLink="/login">Login Here?</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
